.feed-container {
  background-color: rgb(21, 0, 17, 0.9);
  box-shadow: rgba(255, 255, 255, 0.6) 0 3px 7px;
  border: 7px dotted #FEF7BC;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 40px 35px;
  width: 350px;
}

.feedback-text {
  font-size: 22px;
  margin: 25px 0;
}

.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  margin: 20px 0;
}

.btn-container button {
  background: none;
  color: #ffbe3a;
  font-family: Gameshow;
  font-size: 55px;
  height: 60px;
  width: 100%;
}

@media (max-width: 600px) {
  .feed-container {
    width: 80%;
  }
}
