.feed-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 50px 35px;
  width: 350px;
}

.feedback-text {
  margin: 25px 0;
}

.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  margin: 20px 0;
}

.btn-container button {
  background: none;
  color: #ffbe3a;
  font-family: Gameshow;
  font-size: 55px;
  width: 100%;
}

@media (max-width: 600px) {
  .feed-container {
    width: 80%;
  }
}
