.paginaLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.title-span {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 130px;
  font-family: Gameshow;
}

input {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: rgb(229, 229, 229);
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 5px;
  width: 220px;
}

::placeholder {
  color: rgb(229, 229, 229, 0.8);
  font-size: large;
  text-align: center;
}

.login-btn-div {
  width: 160px;
} 

.white {
  background: none;
  color: #ffbd3ae0;
  border-radius: 5px;
  cursor: pointer;
  font-family: Gameshow;
  font-size: 55px;
  margin-top: 20px;
  height: 60px;
  width: 100%;
}

.grey {
  background: none;
  color: grey;
  border-radius: 5px;
  cursor: pointer;
  font-family: Gameshow;
  font-size: 55px;
  margin-top: 20px;
  height: 60px;
  width: 100%;
}

@media (max-width: 600px) {
  /* .title-span {
    margin: 0;
  }

  .title {
    font-size: 110px;
  } */
}