.paginaLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: rgba(46, 46, 46, 0.9);
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 50px 35px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 270px;
  box-shadow: 
      0 0 7px #bebcbc,
      0 0 15px #fff,
      0 0 21px #fff,
      0 0 20px blueviolet,
      0 0 42px blueviolet,
      0 0 62px blueviolet,
      0 0 30px blueviolet,
      0 0 51px blueviolet;
}

input {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  color: rgb(229, 229, 229);
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-top: 8px;
  padding: 0 10px;
  width: 90%;
}

::placeholder {
  color: rgb(229, 229, 229, 0.8);
  font-size: large;
  text-align: center;
}

.login-btn-div {
  width: 80%;
} 

.white {
  background-color: purple;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
}

.grey {
  background-color: grey;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
}
