.rank-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  padding: 50px 35px;
  width: 400px;
}

.ranking-title {
  font-family: Gameshow;
  font-size: 85px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

img {
  height: 30px;
}

.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

td, th {
  padding: 10px;
  text-align: center;
}

th {
  font-size: 18px;
}

.inicio-btn {
  background: none;
  color: #ffbe3a;
  font-size: 60px;
  font-family: Gameshow;
}

@media (max-width: 600px) {
  .rank-container {
    width: 80%;
  }
}
