.rank-container {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(46, 46, 46, 0.9);
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  left: 50%;
  padding: 50px 35px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 
      0 0 7px #bebcbc,
      0 0 15px #fff,
      0 0 21px #fff,
      0 0 20px blueviolet,
      0 0 42px blueviolet,
      0 0 62px blueviolet,
      0 0 30px blueviolet,
      0 0 51px blueviolet;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

img {
  height: 30px;
}

span {
  padding-left: 10px;
}

.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

td, th {
  padding: 10px;
  text-align: center;
}

th {
  font-size: 18px;
}

button {
  background-color: purple;
  color: white;
  font-weight: 600;
}

@media (max-width: 600px) {
  .rank-container {
    width: 80%;
  }
}
