.rank-container {
  background-color: rgb(21, 0, 17, 0.9);
  box-shadow: rgba(255, 255, 255, 0.6) 0 3px 7px;
  border: 7px dotted #FEF7BC;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 35px;
  min-height: 70%;
  width: 400px;
}

.ranking-title {
  font-family: Gameshow;
  font-size: 85px;
}

table, th, td {
  border: 4px solid aliceblue;
  border-collapse: collapse;
}

.table-div {
  height: 300px;
  overflow-y: scroll;
}

img {
  height: 30px;
}

.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

td, th {
  padding: 10px;
  text-align: center;
}

th {
  font-size: 18px;
}

.inicio-btn {
  background: none;
  color: #ffbe3a;
  height: 60px;
  font-size: 60px;
  font-family: Gameshow;
}

@media (max-width: 600px) {
  .rank-container {
    width: 80%;
  }
}
