@font-face {
  font-family: ArialNarrow7;
  src: url('./images/arial_narrow_7.ttf');
}

@font-face {
  font-family: Gameshow;
  src: url('./images/Gameshow.ttf');
}

* {
  font-family: ArialNarrow7;
  font-weight: 400;
}

body {
  background-image: url("./images/backg.jpg");
  background-size: cover;
  background-position: 50%;
  /* background-attachment: fixed; */
  letter-spacing: 0.05em;
  overflow-y: hidden;
}

button {
  background-color: #ffbe3a;
  color: black;
  font-weight: 600;
  width: 60%;
}

.fullpage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.correto {
  color: black;
  background-color: chartreuse;
  border: 3px solid chartreuse;
}

.errado {
  background-color: grey;
  border: 3px solid grey;
}
