@font-face {
  font-family: NEON;
  src: url('./images/NEON____.TTF');
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 80px;
  font-family: NEON;
  text-align: center;
  margin: 20px 0 50px;
  color: #ffffff;
  text-shadow:
      0 0 7px #bebcbc,
      0 0 15px #fff,
      0 0 21px #fff,
      0 0 20px blueviolet,
      0 0 42px blueviolet,
      0 0 62px blueviolet,
      0 0 20px blueviolet,
      0 0 11px blueviolet;
}

*, *:before, *:after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/cartoon-wall.jpg");
  background-size: cover;
  letter-spacing: 0.05em;
}
.correto {
  color: black;
  background-color: chartreuse;
  border: 3px solid chartreuse;
}

.errado {
  background-color: grey;
  border: 3px solid grey;
}
